<div class="cv-clean-list">
  {% for content in entry.contents %}
    <div class="cv-list-item">
      <i class="cv-list-bullet fas fa-circle"></i>
      <span class="cv-list-content">{{ content }}</span>
    </div>
  {% endfor %}
</div>
