<div class="cv-nested-sections">
  {% for content in entry.contents %}
    <div class="cv-nested-section">
      <div class="cv-nested-header">
        <i class="cv-nested-icon fas fa-folder-open"></i>
        <h5 class="cv-nested-title">{{ content.title }}</h5>
      </div>
      
      {% if content.items %}
        <div class="cv-nested-items">
          {% for subitem in content.items %}
            <div class="cv-nested-item">
              <i class="cv-nested-bullet fas fa-angle-right"></i>
              <span class="cv-nested-content">{{ subitem }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
